*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #000000;
}

.container{
    width: 1000px;
    margin: auto;
}

#key-block a{
    font-size: 25px;
    color: #285294;
    background: #F5DCBE;
    border: 1px solid #285294;
    padding: 16px;
    text-decoration: none;
    border-radius: 6px;
 
}

#key-block a:hover{
    background: #285294;
    color: #F5DCBE;
    transition: 0.3s;

}

#key-block img{
    float: left;
    margin-right: 10px;
}

#key-block h1{
    float: left;
    font-size: 30px;
    color: #000000;
    width: 350px;
    margin-bottom: 5px;
}

#key-block h2{
     float: left;
    font-size: 30px;
    color: #FF4B23;
    width: 350px;
    margin-bottom: 5px;
}

#key-block h3{
     float: left;
    font-size: 30px;
    color: #000000;
    width: 350px;
    margin-bottom: 5px;   
}

#key-block p{
    float: left;
    font-size: 15px;
    width: 350px;
    margin-bottom: 10px;
    
}

nav{
    overflow: hidden;
    background: #53A8B7;
    margin-bottom: 30px;
    color: #ffffff;
}

nav li{
    float: left;
    list-style-type: none;
    font-size: 20px;
   
}

nav a{
    text-decoration: none;
    border: none;
    color: #ffffff;
    border-radius: 0;
    display: block;
    padding: 8px;
    transition: 0.5s;
}

nav a:hover{
    background: #ffffff;
    color: #53A8B7;
}

.main{
    width: 600px;
    overflow: hidden;
    float: left;
    background: #000000;
    padding: 20px;
}

.sidebar{
    width: 300px;
    padding: 10px;
    margin-left: 5px;
    font-size: 20px;
    float: left;
    background: #fff;
}

.col-6{
    width: 600px;
    overflow: hidden;
    padding: 5px;
    background-color: #ffffff;
}

.col-5{
    width: 500px;
    padding: 5px;
    float: left;
    background-color: #ffffff;
    
}

.col-4{
    width: 600px;
    padding: 5px;
    float: left;
    background-color: #ffffff;
}

.col-3{
    width: 290px;
    padding: 5px;
    float: left;
    overflow: hidden;

}

/*
.col-3{
    width: 290px;
    padding: 5px;
    /*    float: left; 
    overflow: hidden;
    margin-bottom: 20px;
    background-color: rgba(120, 255, 0, 0.5);
}
*/
.col-2{
    width: 600px;
    padding: 5px;
    float: left;
    background-color: #ffffff;
}

.col-1{
    width: 100px;
    padding: 5px;
    float: left;
    background-color: #ffffff;
}